@model DashboardViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Dashboard";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="container text-center mt-5">
        <h2 class="display-5 text-muted">Project Manager</h2>
        <p class ="display-5 text-muted">Добро пожаловать в сервис по распределению рабочих задач</p>
        <p class ="display-5 text-muted">Для работы с сервисом зарегистрируйтесь в системе</p>
        <p class ="display-5 text-muted">Приятного пользования ;3</p>
    </div>
}
else
{
    <div class="container mt-4">
        <div class="row">
            <!-- Список задач с прокруткой -->
            <div class="col-md-8">
                <h4>Общий список задач</h4>
                
            </div>
        </div>
    </div>
}
